[0-9][0-9]x[0-9][0-9]
minis/
aws-credentials.csv
config.yml
docker-compose.yml
db_name
*.pyc
*.mp4
debug/
*/**/__pycache__/
-examples/*
-examples/**/*.mp4
.DS_Store
components/data/
deps/detect-black-frames/opencv-4.2.0/
deps/detect-black-frames/CMakeCache.txt
deps/detect-black-frames/CMakeFiles/
deps/detect-black-frames/Makefile
deps/detect-black-frames/cmake_install.cmake
deps/detect-black-frames/detect_black_frames
