[submodule "deps/caption-index"]
	path = deps/caption-index
	url = https://github.com/scanner-research/caption-index.git
[submodule "deps/gentle"]
	path = deps/gentle
	url = https://github.com/scanner-research/gentle.git
